.input-wrap {
  margin-bottom: 10px;

  @include e(icon-left) {
    position: relative;
    display: flex;
    align-items: center;

    .input {
      padding-left: 40px;
      padding-right: 40px;
    }

    .form-icon {
      position: absolute;
      display: inline-flex;
      left: 0;
      color: $primary;
    }

    .search-close {
      position: absolute;
      top: 50%;
      right: 1em;
      transform: translateY(-50%);
      color: $primary;
      background: white;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.input {
  border: 1px solid $form-border;
  border-radius: 0;
  min-height: 48px;
  width: 100%;
  color: $text-dark;

  &::placeholder {
    color: $form-text;
  }

  &:focus {
    border: 1px solid $primary !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    border-radius: 7px;
    outline: none;
  }
}
