/**
* Variables for colors.
**/

$primary: #3579f7;
$primary-hover: #0b5ed7;
$danger: #f52525;
$danger-hover: #f87070;
$gray-bg: #f6f8f9;
$text-dark: #343638;
$text-gray: #959798;
$form-text: #a6adb4;
$form-border: #ebeded;
$input-border: #ced4da;
$white: #fff;

$blue: rgb(128, 174, 237);
